/*.poster-config {
  width: 50%;
}

.poster-config form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster-config button {
  width: fit-content;
}

.hidden-radio[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

 [type="radio"]:checked + div {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
} 
.radio-img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
}
 #radio-blue {
  background-color: rgba(118, 209, 234, 0.3);
}

#radio-pink {
  background-color: rgba(255, 192, 203, 0.3);
}

#radio-gray {
  background-color: rgba(202, 202, 202, 0.15);
}

#radio-beige {
  background-color: rgba(228, 176, 120, 0.15);
}

#radio-white {
  background-color: rgb(255, 255, 255);
  outline: 0.1vw solid rgb(216, 216, 216);
}
 */
