@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Cinzel&family=Dancing+Script:wght@500&family=Lobster&family=Poppins:wght@200;600&family=Solitreo&display=swap");

::selection {
  background-color: rgba(181, 202, 189, 0.8);
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}
